html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0px 0;
  }
  to {
    background-position: -1100px 0;
  }
}
.UIFlex__StyledFlex-sc-516yz5-0 .jYgVta .private-flex {
  border-radius: 20px;
}
